.input-form {
  margin: 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 45px;
  padding: 0 5px;
}

.input-field {
  width: 90%;
  height: 100%;
  outline: none;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 17px;
  padding-left: 15px;
  transition: all 0.3s ease;
}

.input-field:focus {
  border-color: #8E49E8;
}

.submit-button {
  width: 50px;
  height: 100%;
  border: none;
  outline: none;
  background: #8E49E8;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.submit-button:hover {
  background: #721ce3;
}
